@model Stock_system.Models.Volunteer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Volunteer</h4>
<hr />
<div class="row" style="background-color: #f9f9f9; ">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VolunteerId" />
            <div class="form-group">
                <label asp-for="VolunteerName" class="control-label"></label>
                <input asp-for="VolunteerName" class="form-control" />
                <span asp-validation-for="VolunteerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VolunteerSurname" class="control-label"></label>
                <input asp-for="VolunteerSurname" class="form-control" />
                <span asp-validation-for="VolunteerSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label"></label>
                <input asp-for="TaskDescription" class="form-control" />
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

